<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- Android 13+ -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ModestyRentApp"
        tools:targetApi="31">
        <activity
            android:name=".activity_product_reels_onboarding"
            android:exported="false" />
        <activity
            android:name=".activity_product_details_onboarding"
            android:exported="false" />
        <activity
            android:name=".activity_product_reels"
            android:exported="false" />
        <activity
            android:name=".activity_refund_payment"
            android:exported="false" />
        <activity
            android:name=".activity_return_rentals"
            android:exported="false" />
        <activity
            android:name=".activity_rentals_details_owner"
            android:exported="false" />
        <activity
            android:name=".activity_rentals_details_borrower"
            android:exported="false" />
        <activity
            android:name=".activity_dispute_details"
            android:exported="false" />
        <activity
            android:name=".activity_transaction_details"
            android:exported="false" />
        <activity
            android:name=".activity_leave_review"
            android:exported="false" />
        <activity
            android:name=".activity_arrange_return"
            android:exported="false" />
        <activity
            android:name=".activity_inspection"
            android:exported="false" />
        <activity
            android:name=".activity_rating_review"
            android:exported="false" />
        <activity
            android:name=".activity_rentals_details"
            android:exported="false" />
        <activity
            android:name=".activity_chat_list"
            android:exported="false" />
        <activity
            android:name=".activity_chat_owner"
            android:exported="false" />
        <activity
            android:name=".activity_notifications"
            android:exported="false" />
        <activity
            android:name=".activity_booking_requests"
            android:exported="false" />
        <activity
            android:name=".activity_dummy_payment"
            android:exported="false" />
        <activity
            android:name=".activity_myrentals"
            android:exported="false" />
        <activity
            android:name=".activity_booking"
            android:exported="false" />
        <activity
            android:name=".activity_checkout"
            android:exported="false" />
        <activity
            android:name=".activity_owner_profile"
            android:exported="false" />
        <activity
            android:name=".activity_mylikes"
            android:exported="false" />
        <activity
            android:name=".activity_product_details"
            android:exported="false" />
        <activity
            android:name=".activity_listing_details"
            android:exported="false" />
        <activity
            android:name=".activity_mylisting"
            android:exported="false" />
        <activity
            android:name=".activity_signup"
            android:exported="false" />
        <activity
            android:name=".activity_signin"
            android:exported="false" />
        <activity
            android:name=".activity_profile"
            android:exported="false" />
        <activity
            android:name=".activity_homepage"
            android:exported="false" />
        <activity
            android:name=".activity_edit_profile"
            android:exported="false" />
        <activity
            android:name=".activity_add_product"
            android:exported="false" />
        <activity
            android:name=".activity_home"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>